.app__chat {
	flex: 0.7;
	display: flex;
	flex-direction: column;

	.chat__header {
		display: flex;
		padding: 8px 20px;
		align-items: center;
		border-bottom: 1px solid lightgray;

		.sidebar__btn {
			font-size: 18px;
			height: 30px;
			width: 30px;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			transition: all 0.3s linear;
			color: gray;

			&:hover {
				background-color: rgba(255, 255, 255, 0.2);
			}

		}
	}


	.chat__body {
		flex: 1;
		background: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
		background-repeat: repeat;
		padding: 30px;
		overflow-y: scroll;

		.chat__message {
			background-color: #fff;
			font-size: 14px;
			padding: 10px;
			border-radius: 10px;
			width: fit-content;
			position: relative;
			margin-bottom: 20px;

			.chat__name {
				position: absolute;
				white-space: nowrap;
				font-size: xx-small;
				top: -15px;
				font-weight: bold;

			}

			.chat__timestamp {
				font-size: xx-small;
				margin-left: 10px;

			}
		}

		.chat__receiver {
			margin-left: auto;
			background-color: #dcf8c6;
		}
	}

	.chat__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 62px;
		border-top: 1px solid lightgray;

		.chat__massage__box {
			flex: 1;
			.send__message_form {
				flex: 1;
				display: flex;

				.send__massage__input {
					flex: 1;
					border: none;
					outline: none;
					border-radius: 30px;
					padding: 10px;

				}
			}
		}

		.footer__emoji__btn{
			padding: 10px;
			color: gray;
		}

	}
}